/*filter button*/
#filter-button {
	text-align: center;
	// width: 9em;
	// height: 4em;
	// margin: 8px auto;
}

/*each delete song button from javascript*/
.delete-button {
	font-size: 0.7em;
}

#delete-all-button {
	color: red;
}

#more-button {
	float: right;
}

select.form-control {
	height: 20px;
	font-size: 1em;
}