

@import "nav";
@import "buttons";

//setting all my borders to 0
fieldset {
	border: 0;
}


body {
	font-family: 'Montserrat', sans-serif;
	background-color: #AD1457;
}

//class applied when add song link is clicked
.right-left-box-hidden {
	display: none;
}

.leftBox {
	background-color: #880E4F;
	margin-top: 10%;
	color: #F44336;
	border: 5px solid #F44336;
	border-radius: 5px;
}

.rightBox {
	background-color: #880E4F;	
	margin-top: 10%;
	color: #F44336;
	border: 5px solid #F44336;
	border-radius: 5px;
}

.your-songs {
	font-weight: 700;
	font-size: 1.5em;
	margin: 0px;
}


.musicGenreL {
	float: left;
	// padding-left: 10px;
}

.musicGenreR {
	float: right;
}


#listOfSongs {
	min-height: 286px;
}

.input-box-hidden {
	display: none;
}

#input-box-display {
	text-align: center;
	margin-top: 1em;
	color: #03A9F4;
}

.form-control {
	width: 80%;
	margin: 0% 10%;
	text-align: center;
}

