<!--Input Boxes tp add song-->
<div class="col-md-12">
	<form class="input-box-hidden" id="input-box-display" action="/#/songs/list">
		<div class="form-group">
			<input type="text" id="input-artist-name" class="form-control" placeholder="Artist Name" ng-model="artist"> 
		</div>
		<div class="form-group">
			<input type="text" id="input-song-name" class="form-control" placeholder="Song Name" ng-model="title">
		</div>
		<div class="form-group">
			<input type="text" id="input-album-name" class="form-control" placeholder="Album Name" ng-model="album">
		</div>
		<button class="btn btn-default" id="add-button" ng-click="addSong(artist, title, album)">Add to List</button>
	</form>
</div>