.topBox {
	background-color: #FFB4B0;
	margin-left: 10em;
	margin-right: 5em;

}

.leftBox {
	background-color: #4DD7FA;
	margin-left: 10em;
	margin-right: 100em;
	margin-top: 1em;
	float: left;
}

.rightBox {
	background-color: #FEFAC0;
	margin-left: 50em;
	margin-right: 5em;
	
	

}

.SongName {
	font-size: 2em;
	color: #785616;
}