fieldset {
	border: 0;
}

.flex-container {
	display: flex;
 	-webkit-flex-direction: row;
 	-webkit-flex-wrap: wrap;
 	margin: 0 auto;
 	width: 80%;
}

.flex-item {
	width: 100px;
}

.topBox {
	background-color: #FFB4B0;
	flex:1 100%;
	border: 2px solid black;
	position: fixed;
	width: 78.5%;
	padding: 15px 0;
		
}


.leftBox {
	background-color: #4DD7FA;	
	border: 2px solid black;
	flex-grow: 1;
	margin-top: 70px;
}

.rightBox {
	background-color: #FEFAC0;
	border: 2px solid black;
	flex-grow: 5;
	margin-top: 70px;
	
}


.SongName {
	font-size: 1.5em;
	color: #785616;
	padding-bottom: 0.5em;

}


.musicGenreL {
	float: left;
}

.musicGenreR {
	float: right;
}

#ButtonPosition {
	width: 9em;
	height: 7em;
	margin-left: 5.5em;
	margin-bottom: 1em;
}

#listOfSongs :nth-child(2n+0){
	font-family: helvetica;	
	border: 1px solid black;
	background-color: #FFF5EE;
	padding-bottom: 5px;
	padding-top: 5px;
	font-weight: bold;
}

#listOfSongs :nth-child(2n+1){
	font-family: helvetica;	
	border: 1px solid black;
	background-color: #F5FFFA;
	padding-bottom: 5px;
	padding-top: 5px;
}

.text {
	font-size: 3em;
}