fieldset {
	border: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #3B5998;
}

.topBox {
	background-color: #293E6A;
	color: white;
	margin-left: 10em;
	padding-top: 1em;
	width: 65%;
	height: 40px;
	border-radius: 1px;
	position: fixed;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-align: center;

}

.topBoxHidden {
	visibility: hidden;
	background-color:  #293E6A;
	margin-left: 10em;
	padding-top: 1em;
	width: 62.5%;
	height: 40px;
	border-radius: 1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-align: center;
}
.nav-text {
	color: white;
	text-decoration: none;
}
.nav-text:hover {
	color: #639BF1;
	text-decoration: none;
	cursor: hand;
	opacity: 0.6;
}

.right-left-box-hidden {
	display: none;
}

.leftBox {
	background-color: #293E6A;
	color: #639BF1;
	margin-top: 1em;
	margin-left: 10em;
	margin-right: 1em;
	float: left;
	border-radius: 1px;
}

.rightBox {
	background-color: #293E6A;
	color: #639BF1;
	margin-top: 1em;
	margin-left: 20em;
	margin-right: 11.5em;
	border-radius: 1px;	
}

.SongName {
	font-weight: 700;
	font-size: 1.2em;
	color: #639BF1;
	padding-bottom: 0.5em;
	margin: 0px;
}


.musicGenreL {
	float: left;
}

.musicGenreR {
	float: right;
}

/*filter button*/
#ButtonPosition {
	width: 9em;
	height: 7em;
	margin-left: 5.5em;
	margin-bottom: 1em;
}

#listOfSongs {
	min-height: 286px;
}

.input-box-hidden {
	display: none;
}

#input-box-display {
	margin-left: 11em;
	margin-top: 1em;
	color: #639BF1;
}

.text {
	margin: 0 10em;
	text-align: center;
	font-size: 30px;
}

#delete-all-button {
	margin-top: 55px;
	background-color: gray;
	color: red;
}

#more-button {
	margin-left: 300px;
}

