<div>
	{{#each songs}}
		<div>"{{title}}"-by-{{artist}}-{{album}} <button type="button" class='delete-button' id="{{{@key}}}" data-toggle="modal" data-target="#myDeleteModal">Delete</button></div>
	{{/each}}
</div>